{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "dynamicImport": true,
      "exportDefaultFrom": true,
      "exportNamespaceFrom": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "minify": true
}
